.followsNavLink {
    display:inline-block;
    text-decoration:none;
}
.followButton {
    border:1px solid black;
    border-radius:10px;
    font-size:12px;
    display:inline-block;
    padding:4px;
    margin:4px;
    background-color:#DFDFDF;
    color:black;
}
.unfollowButton {
    border:1px solid black;
    border-radius:10px;
    font-size:12px;
    display:inline-block;
    padding:4px;
    margin:4px;
    background-color:yellow;
    color:black;
}
.followButton:hover {
    background-color:yellow;
}
.unfollowButton:hover {
    background-color:#DFDFDF;
}
.followCountContainer {
    margin-top:10px;
}
